#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in/
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/config/applicationhost.config
.vs/restore.dg
publish/
src/Pc.Information.Api/Properties/PublishProfiles/Pc.Information.Api-publish.ps1
src/Pc.Information.Api/Properties/PublishProfiles/Pc.Information.Api.pubxml
